@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

.swal2-lexend {
  font-family: 'Lexend', sans-serif;
  
  .swal2-confirm,
  .swal2-cancel {
    font-family: 'Lexend', sans-serif;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  