.home {
    text-align: center;
    padding: 50px 20px;
    font-family: 'Lexend', sans-serif;

    &__header {
        h1 {
            font-size: 2.8rem;
            color: #EAC4D5;
        }

        p {
            font-size: 1.2rem;
            color: #666;
        }
    }

    &__search {
        margin: 20px auto;
        display: flex;
        justify-content: center;
        gap: 10px;

        input {
            padding: 10px;
            width: 50%;
            border: 1px solid #CCC;
            border-radius: 5px;
        }

        button {
            background-color: #95B8D1;
            color: #FFF;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
            border-radius: 5px;

            &:hover {
                background-color: #809BCE;
            }
        }
    }

    &__carousel {
        text-align: center;

        .carousel {
            position: relative;
            overflow: hidden;
            height: 600px; // Ajusta Según Tamaño Deseado
            width: 100%;

            .anime-slide {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                transition: opacity 1s ease-in-out;
                width: 100%;
                height: 100%;

                img {
                    width: 100vw; // Ancho Completo de la Ventana
                    height: 100%;
                    object-fit: cover; // Mantiene Proporciones Rellenando el Espacio
                }
            }

            .anime-slide.active {
                opacity: 1;
                z-index: 2;
            }
        }
    }

    &__categories {
        margin-top: 40px;

        h2 {
            font-size: 1.8rem;
        }

        .categories {
            display: flex;
            justify-content: center;
            gap: 10px;

            button {
                background-color: #95B8D1;
                color: #FFF;
                border: none;
                padding: 10px 15px;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #809BCE;
                }
            }
        }
    }

    &__ranking {
        margin-top:  40px;

        h2 {
            font-size: 1.8rem;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                font-size: 1.2rem;
                padding: 5px 0;
            }
        }
    }
}

